; Machine-specific things
{{- if (hasKey . "gpgkey") }}
[user]
	signingKey = {{ .gpgkey }}
[commit]
	gpgSign = true
{{- end }}
; End of machine-specific things
[core]
	excludesfile = {{ .chezmoi.homeDir -}}/.gitignore
[user]
	email = {{ .email | quote }}
	name = Pavel Lutskov
[alias]
	glb = log --oneline --decorate --graph
	gl = glb --all
	glbm = glb master HEAD
	co = checkout
	fm = fetch origin master:master
[pull]
	ff = only
[init]
	defaultBranch = master
[push]
	default = current
[merge]
	conflictStyle = diff3
