; Machine-specific things
{{- if (hasKey . "gpgkey") }}
[user]
	signingKey = {{ .gpgkey }}
[commit]
	gpgSign = true
{{- end }}
; End of machine-specific things
[user]
	email = {{ .email | quote }}
	name = Pavel Lutskov
[alias]
	gl = log --oneline --decorate --graph --all
	co = checkout
[pull]
	ff = only
[init]
	defaultBranch = master
[push]
	default = current
[merge]
	conflictStyle = diff3
