# Scrolling
scrolling:
  history: 100000
  multiplier: 30

# Font configuration
font:
  normal:
    family: {{ (or (get . "termfont") "Monospace") | quote }}
  size: {{ or (get . "termfontsize") 12.0 }}

# If `true`, bold text is drawn using the bright color variants.
draw_bold_text_with_bright_colors: false

colors:
  primary:
    background: '0xffffff'
    foreground: '0x111111'

  cursor:
    text: '0x000000'
    cursor: '0xc0c0c0'

  normal:
    black:   '0x000000'
    red:     '0xc00000'
    green:   '0x00c000'
    yellow:  '0xc0c000'
    blue:    '0x5f00d7'
    magenta: '0xc000c0'
    cyan:    '0x00c0c0'
    white:   '0xc0c0c0'

  bright:
    black:   '0x808080'
    red:     '0xff0000'
    green:   '0x00ff00'
    yellow:  '0xffff00'
    blue:    '0x5f00ff'
    magenta: '0xff00ff'
    cyan:    '0x00ffff'
    white:   '0xffffff'

hints:
  enabled:
    # Url
    - regex: "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
      command: xdg-open
      post_processing: true
      mouse:
        enabled: true
        mods: Control

key_bindings:
  - { key: PageUp,    mods: Shift,   action: ScrollPageUp,   mode: ~Alt       }
  - { key: PageDown,  mods: Shift,   action: ScrollPageDown, mode: ~Alt       }
  - { key: Home,      mods: Shift,   action: ScrollToTop,    mode: ~Alt       }
  - { key: End,       mods: Shift,   action: ScrollToBottom, mode: ~Alt       }
  - { key: T, mods: Control|Shift, action: SpawnNewInstance  }
