scrollback_lines 100000
confirm_os_window_close 1

font_family {{ or (get . "termfont") "Monospace" }}
font_size {{ or (get . "termfontsize") 12.0 }}

cursor #c0c0c0
cursor_shape block
cursor_blink_interval 0
shell_integration enabled no-cursor

tab_bar_style powerline
active_tab_foreground #5f87af
active_tab_background #fff
active_tab_font_style bold
inactive_tab_foreground #fff
inactive_tab_background #5f87af
inactive_tab_font_style normal
tab_bar_background #5f87af

foreground #111111
background #ffffff

color0 #000000
color1 #c00000
color2 #00c000
color3 #c0c000
color4 #5f00d7
color5 #c000c0
color6 #00c0c0
color8 #808080
color9 #ff0000
color10 #00ff00
color11 #ffff00
color12 #5f00ff
color13 #ff00ff
color14 #00ffff

# Don't follow url on click
mouse_map left click ungrabbed no-op
# Ctrl-click on url
mouse_map ctrl+left click ungrabbed mouse_handle_click selection link prompt
enable_audio_bell no
